:root {
  --main-color: #121212;
  --secondary-color: #282828;
  --text-muted: #6c757d;
  --green: #1db954;
}
@import './sideBar.scss';
@import './search.scss';
@import './track.scss';
@import './profile.scss';

body {
  background-color: var(--main-color);
}
.menu-container {
  margin-left: 112px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.app-container {
  margin-left: 112px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

.search-container {
  display: flex;
  justify-content: space-between;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
  border-radius: 10px;
  // border-radius: 14px;
  // color: blue;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #555;
}

//Time Ranges
.time-ranges {
  button {
    background-color: var(--main-color);
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    color: white;
    // color: var(--text-muted);
  }
  button:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: #1db954;
  }
  .active-button {
    text-decoration: underline;
    text-underline-position: under;
    color: #1db954;
    font-weight: bold;
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

//Loaders
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
